body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 30px auto 0;
}

li {
  font-size: 1.1em;
}

.photo {
  width: 250px;
  border-radius: 75px;
}

.header__inner {
  display: inline-block;
  margin-left: 70px;
}

.main-title {
  text-transform: capitalize;
}

.title {
  text-transform: capitalize;
  font-size: 1.5em;
}

.address__item, span {
  font-weight: 600;
}

.text {
  font-size: 1.3em;
}