* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1024px;
  margin: 30px auto 0;
}

li {
  font-size: 1.1em;
}

.header {
  margin-bottom: 60px;
}

.photo {
  width: 250px;
  border-radius: 150px;
}

.header__inner {
  display: inline-block;
  margin-left: 70px;
  transform: translateY(-70%);
}

.main-title {
  text-transform: capitalize;
}

.title {
  text-transform: capitalize;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.address__item, span {
  font-weight: 600;
}

.text {
  font-size: 1.3em;
}

.summary {
  margin-bottom: 30px;
}

.skills {
  margin-bottom: 30px;
}

.code {
  margin-bottom: 30px;
}
